.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundCanvas {
  position: absolute;
}

.gameCanvas {
  position: absolute;
  background: transparent;
}
