.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url('../../../assets/images/background/backgroundDefault.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundCanvas {
  position: absolute;
}

.gameCanvas {
  position: absolute;
  background: transparent;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: fit-content;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: var(--border-radius-s);

  h2 {
    text-align: center;
    color: var(--background-color);
  }
}

.score {
  margin-top: 2rem;

  h3 {
    text-align: center;
    color: var(--background-color);
  }
}

.controls {
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.buttonItem {
  color: var(--blue-color);
  background-color: var(--background-color);
  border: 1px solid black;
  padding: 12px 24px;
  font-size: 20px;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
}


