.game-page {
}

canvas {
  width: 1500px;
  height: 800px;
  border: 2px dashed var(--blue-light-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
